<div id="header" class="grid">
		<div class="full-margins" class="grid-full">
			<img src="img/logo.svg" id="main-logo" alt="hayley harkema's logo">
			<header id="title">
			<h1 class="logotype-light">Hayley</h1>
			<h1 class="logotype-dark">Harkema</h1>
			<h3 id="logo-tagline">graphic designer + animator</h3>
			</header>

			<nav id="nav-buttons">
				<ul>
					<a href="contact.html"><li class="nav-list">contact</li></a>
					<a href="profile.html"><li class="nav-list">profile</li></a>
					<a href="index.html"><li class="nav-list">work</li></a>
				</ul>
			</nav>
		</div>
	</div>