.full-margins{
	width: 80%;
	margin: auto;
}

.grid {
  display: flex;
}

.grid-cell {
  flex: 1;
}

.grid-gutters-right {
  padding: 0 0rem 0 0;
}

.grid-gutters-left {
  padding:  0 0 0 0rem;
}

.grid-gutters > .grid-cell {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.grid-top {
  align-items: flex-start;
}
.grid-bottom {
  align-items: flex-end;
}
.grid-center {
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* Alignment per cell */
.grid-cell-top {
  align-self: flex-start;
}
.grid-cell-bottom {
  align-self: flex-end;
}
.grid-cell-center {
  align-self: center;
}

.grid-full{
	flex: 0 0 100%;
}

.grid-half{
	flex: initial;
}

.grid-third{
	flex: 0 0 30%;
}

.grid-two-third{
  flex: 0 0 70%;
}

.grid-fourty{
	flex: 0 0 100%;
}

.grid-sixty{
}

.grid-horiz{
  flex-direction: column;
}

.temp-margin{
  margin-top: 2rem;
}



@media(min-width: 41.6875em){

  .profile-content{
      flex-direction: initial;
    align-content: initial;
    flex-wrap: initial;
}
  .temp-margin{
  margin-top: 0;
}

  .grid-horiz{
  flex-direction: row;
}

  .grid-half{
  flex: 0 0 50%;
}

  .grid-gutters-right {
  padding: 0 2rem 0 0;
}

.grid-gutters-left {
  padding:  0 0 0 2rem;
}

  .grid-sixty{
  flex: 0 0 60%;
}

  .title-container{
  display: flex;
  justify-content: flex-start;
}

  .btn {
    margin: initial;
    margin-top: 2rem;
}

  .grid-fourty {
    flex: 0 0 40%;
  }

  .profile-img{
    visibility: visible;
    width: 70%;
  }

  .profile-descr{
    margin-top: initial;
  }

  #project-one-first-img{
    padding-top: 14rem;
  }

  .project-description{
  display: inline;
  width: 40%;
  margin-left:auto; 
  margin-right:0;
}

  #main-content{
  margin-top: 15rem;
  margin-right: 10vw;
  align-content: space-between;
  width: 50%;
  float: right;
  right: 0;
}

 .main-content{
  margin-top: 15rem;
  margin-right: 10vw;
  align-content: space-between;
  width: 50%;
  float: right;
  right: 0;
}

  #main-content-two{
  margin-top: 15rem;
  margin-right: 10vw;
  align-content: space-between;
  width: 50%;
  float: right;
  right: 0;
}

  .project-one-img{
  padding-top: 14rem;
  padding-bottom: 10rem;
  width: 40%;
  height: auto;
  position: relative;
  left: 10vw;
  display: initial;
}

  #header .full-margins{
    display: initial;
}

.full-margins #logotype{
    display: inline-flex;
}

#nav-buttons{
    display: initial;
right: 0;
    float: right;
}

    .background-1{
  background-color: #bcdaf2;
  z-index: -1;
}

.background-2{
  background-color: #FFD4C2;
  z-index: -2;
}

.background-3{
  background-color: #B8CCD3;
  z-index: -3;
}


  #header{
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.2), 0 1px 9px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
    background-color: white;
}

  .project-description{
    width: 80%;
  }

  .vertical-stripe{
  width: 33%;
  left: 0;
  display: inline-block;
}

  .project-one-img{
  padding-top: 14rem;
  padding-bottom: 10rem;
  width: 100%;
  height: auto;
  position: relative;
  left: 10vw;
}
}

@media(min-width: 41.6875em){
  #web-main-img{
  transform: rotateZ(-20deg) translateX(6rem);
}

  .big-margin-top{
  margin-top: 5rem;
}


  .first-margin{
  margin-top: 2rem;
}

  .project-description{
    width: 80%;
  }

  #img-cont img{
      position: absolute;
    width: auto;
    height: 350px;
    top: 14rem;
    left: initial;
    right: initial;
    margin: initial;
}

#img-cont iframe{
      position: absolute;
    width: auto;
    height: 350px;
    top: 14rem;
    left: initial;
    right: initial;
    margin: initial;
}

}

@media(min-width: 48em){
  #img-cont img{
      position: absolute;
    width: auto;
    height: 400px;
    top: 11rem;
    left: initial;
    right: initial;
    margin: initial;
}

#img-cont iframe{
      position: absolute;
    width: auto;
    height: 400px;
    top: 11rem;
    left: initial;
    right: initial;
    margin: initial;
}
}


@media(min-width: 56em){
.grid-half{
  flex: 0 0 50%;
}

p{
  font-size: 1rem;
}
}

@media(min-width: 63.3125em){
  #img-cont img{
  height: 500px;
  top: 8rem;
}

#img-cont iframe{
  height: 500px;
  top: 8rem;
}
  .project-description{
    width: 50%;
  }
}