*, *::after, *::before{ /* star is select all ||| pseudo elements rednered after page?*/
  box-sizing: border-box;
}
html{
	height: 100%;
}

body{
	margin: 0;
	font-family: "din-reg";
	height: 100%;
}

img{
	display: inline;
}

h1{
	font-size: 1.5rem;
	letter-spacing: 0.5rem;
	display: inline;
	padding:0.5rem 1rem;
	background-color: #bcdaf2;
}

.product-title{
font-size: 1.5rem;
	letter-spacing: 0.5rem;
	display: inline;
	padding:0.5rem 1rem;
	background-color: #bcdaf2;
	margin: 0;
}

.next-button{
	    align-self: center;
    position: relative;
    /* left: 50%; */
    top: -8rem;
    margin-bottom: 2rem;

}

p{
	font-family:  'Libre Baskerville', serif;
	line-height: 1.5rem;
	margin: 0;
	font-size: 0.8rem;
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
	text-decoration: none;
}

em{
	font-style: normal;
	font-weight: bold;
}

.block{
	display: block;
}

.title-container{
	display: flex;
	justify-content: center;
}

.vertical-stripe{
	    width: 100%;
    left: 0;
    display: block;
    background-color: #bcdaf2;
    z-index: -37;
    position: relative;
}

#main-content{
	margin-top: 2rem;
	align-content: space-between;
	width: 100%;
}

.main-content{
	margin-top: 2rem;
	align-content: space-between;
	width: 100%;
}

#main-content-two{
	margin-top: 2rem;
	align-content: space-between;
	width: 100%;
}

.project-one-img{
	padding-top: 0rem;
    padding-bottom: 0;
    width: 100%;
    height: auto;
    display: block;
}

#project-one-first-img{
	padding-top: 0rem;
	width: 75%;
}

.full-img{
	width: 100%;
	height: auto;
}

.profile-descr{
	margin-top: 3rem;
}

.project-description{
	display: inline;
	width: 80%;
	margin-left:auto; 
	margin-right:auto;
}

.flex-horiz{
	flex-direction: row;
}

.flex-vert{
	flex-direction: column;
}
.button{
	text-align: center;
	padding:0.5rem 0.5rem;
	width: 25%;
	border:1px #bcdaf2 solid;
}

.nav-btn {
display: inline-block;
    color: #bcdaf2;
    text-decoration: none;
}

.nav-btn::after {
    content: '';
    display: flex;
    width: 0;
    height: 1.5px;
    background: #bcdaf2;
    transition: width .3s;
    margin-top: 0.25rem;
}

.current::after {
	content: '';
    display: flex;
    width: 100%;
    height: 1.5px;
    background: #bcdaf2;
    transition: width .3s;
    margin-top: 0.25rem;
}
.nav-btn:hover::after {
    width: 100%;
}

.btn {
        position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    width: 9rem;
    height: 3rem;
    text-align: center;
    text-transform: lowercase;
    background-color: transparent;
    text-decoration: none;
    line-height: 3rem;
    color: black;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
        display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.btn svg rect {
	    display: flex;
    align-self: center;
    stroke: #bcdaf2;
    width: 98%;
    height: 90%;
    margin: auto;
    stroke-width: 1.25;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    fill: none;
}


.btn:hover svg rect {
    stroke-width: 1.25;
    stroke-dasharray: 127, 189;
    stroke-dashoffset: 128;
}

.btn:active svg rect{
    stroke-width: 1.25;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
}

#project-menu{
	bottom: 0;
}

.profile-title{
	font-size: 2.5rem;
	font-weight: 600;
	background-color: transparent;
}

.margin-bottom{
	margin-bottom: 3rem;
}

.margin-top{
	margin-top: 2rem;
}

.big-margin-top{
	margin-top: 2rem;
}

.style-guide-margin-top{
	margin-top: 8rem;
}

.background-2{
  background-color: #FFD4C2;
  z-index: -2;
}

.background-3{
  background-color: #B8CCD3;
  z-index: -3;
}

.outline-2{
	stroke: #FFD4C2;
}

.outline-3{
	stroke: #B8CCD3;
}

.profile-img{
	width: 70%;
	height: auto;
	bottom: 0;
	top: auto;
	visibility: visible;
}

.center{
	text-align: center;
}

.swatch{
	width: 33%;
	height: 10vw;
	background-color: #bcdaf2;
}

#img-on{
	visibility: hidden;
}

#img-off{
	visibility: visible;
}

#img-cont:hover #img-on{
	visibility: visible;
}

#img-cont:hover #img-off{
	visibility: hidden;
}

#img-cont{
	width: 100%;
	display: inline-block;
}

#img-cont img{
	position: absolute;
	width: auto;
	height: 300px;
	top: 12rem;
	left: 0;
    right: 0;
    margin: 0 auto;

}

#img-cont iframe{
	position: absolute;
	width: auto;
	height: 300px;
	top: 12rem;
	left: 0;
    right: 0;
    margin: 0 auto;

}

#second-web-img{
	margin-top: 7rem;
}

.first-margin{
	margin-top: 22rem;
}

.profile-content{
	    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
}

#web-main-img{
	transform: rotateZ(-20deg) translateX(0rem);
}