*, *::after, *::before{ /* star is select all ||| pseudo elements rednered after page?*/
  box-sizing: border-box;
}
html{
	height: 100%;
}

body{
	margin: 0;
	font-family: "din-reg";
	height: 100%;
}

img{
	display: inline;
}

h1{
	font-size: 1.5rem;
	letter-spacing: 0.5rem;
	display: inline;
	padding:0.5rem 1rem;
	background-color: #bcdaf2;
}

p{
	font-family:  'Libre Baskerville', serif;
	line-height: 1.5rem;
	margin: 0;
}

a:visited{
	color: black;
}

em{
	font-style: normal;
	font-weight: bold;
}

.vertical-stripe{
	height: 100vh;
	width: 33%;
	left: 0;
	position: absolute;
}

.blue{
	background-color: #bcdaf2;
	z-index: -1;
}

.grey{
	background-color: #FFD4C2;
	z-index: -2;
	height: 95%;
}

.background-3{
	background-color: #B8CCD3;
	z-index: -3;
}

#main-content{
	margin-top: 10rem;
	align-content: space-between;
	width: 100%;
	float: right;
	right: 0;

}

#project-one-img{
	width: 40%;
	height: auto;
}

.full-img{
	width: 100%;
	height: auto;
}

.project-description{
	display: inline;
	width: 40%;
	margin-left:auto; 
	margin-right:0;
}

.flex-horiz{
	flex-direction: row;
}

.flex-vert{
	flex-direction: column;
}
.button{
	text-align: center;
	padding:0.5rem 0.5rem;
	width: 25%;
	border:1px #bcdaf2 solid;
}

.btn {
    position: relative;
    display: block;
	width:9rem;
	height:3rem;
    text-align: center;
    text-transform: lowercase;
    background-color: transparent;
    text-decoration:none;
    line-height: 3rem;
    color: black;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.btn svg rect {
	display: flex;
	align-self: center;
	stroke: #bcdaf2;
	width:90%;
	height:90%;
	margin: auto;

    //stroke: #EC0033;
    stroke-width: 1;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    fill: none;
}


.btn:hover svg rect {
    stroke-width: 1;
    stroke-dasharray: 130, 400;
    stroke-dashoffset: 0;
}

.btn:active svg rect{
    stroke-width: 1;
    stroke-dasharray: 192, 604;
    stroke-dashoffset: 437;
}

#project-menu{
	bottom: 0;
}

.profile-title{
	font-size: 2.5rem;
	font-weight: 600;
	background-color: transparent;
}

.margin-bottom{
	margin-bottom: 10rem;
}

.margin-top{
	margin-top: 2rem;
}

.big-margin-top{
	margin-top: 5rem;
}

.profile-img{
	width: 70%;
	height: auto;
	bottom: 0;
	top: auto;
}

.center{
	text-align: center;
}

#img-on{
	visibility: hidden;
}

#img-off{
	visibility: visible;
}

#img-cont:hover #img-on{
	visibility: visible;
}

#img-cont:hover #img-off{
	visibility: hidden;
}

#img-cont{
	height: 500px;
	width: 100%;
	display: inline-block;
	min-height: 50px;
}

#img-cont img{
	position: absolute;
	width: auto;
	height: 500px;
}

